---
import type { GetStaticPaths } from "astro";
import BaseLayout from '@/layouts/BaseLayout.astro';
import Breadcrumbs from "@/components/UI/Breadcrumbs.astro";
import PageBottomNav from "@/components/UI/PageBottomNav.astro";
import { GalleryLinearSlider } from '@/components/Gallery/GalleryLinearSlider';
import { getGalleryCategories, getGalleryCategoryBySlug, getLinearSliderItems } from '@/data/gallery';
import { normalizeSlug } from "@/utils";
import DetailPageLayout from "@/components/Layout/DetailPageLayout.astro";

export const getStaticPaths = (async() => {
    const galleryCategories = await getGalleryCategories();
    console.log('Generated paths:', galleryCategories.map((c) => c.slug));
    return galleryCategories.map((category) => ({
            params: { slug: normalizeSlug(category.slug)}
        }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;
const category = await getGalleryCategoryBySlug(slug);

if(!category){
    throw new Error(`Gallery category not found for slug: ${slug}`);
}

const categories = (await getGalleryCategories()).map(category => ({
  slug: normalizeSlug(category.slug),
  label: category.title
}));

const allItems = await getLinearSliderItems();
---

<BaseLayout>
  <section class="relative bg-black">
    <div class="fixed inset-0 -z-20 bg-black" data-background-wrapper>
      <div class="absolute inset-0" data-screen-overlay></div>
    </div>
  <DetailPageLayout data-gallery-slug-root className="max-w-[1680px]">
        <Breadcrumbs
        items={[
          {label:'Gallery', href:"/gallery"},
          {label: category.title}
        ]}/>

<div id="archive-main">
          <GalleryLinearSlider
          client:load
          items={allItems}
          categories={categories}
          initialCategory={normalizeSlug(slug)}
        />
        </div>


        <PageBottomNav
          label="gallery"
          href="/gallery"
        />
  </DetailPageLayout>
  </section>
</BaseLayout>
