---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Breadcrumbs from '@/components/UI/Breadcrumbs.astro';
import ArchivePageHeader from '@/components/UI/ArchivePageHeader.astro';

import { getGalleryCategories } from '@/data/gallery';
import GalleryCategoryGrid from '@/components/Gallery/GalleryCategoryGrid.astro';

const galleryCategories = await getGalleryCategories();

---




<BaseLayout>

    <div class="relative min-h-screen text-[var(--color-white)]">

        <main class="max-w-[1440px] mx-auto px-4 md:px-8 lg:px-16 py-10 md:py-14 space-y-10">
          <Breadcrumbs
          items={[
            {label: 'Gallery'}
          ]}>
        </Breadcrumbs>
           <ArchivePageHeader
            label="gallery"
            title="Frames &amp; moments"
          >
           Light and time, held in each frame.
          </ArchivePageHeader>
          <GalleryCategoryGrid
            galleryCategories={galleryCategories}/>
        </main>
      </div>
  </BaseLayout>