---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Breadcrumbs from '@/components/UI/Breadcrumbs.astro';
import ArchivePageHeader from '@/components/UI/ArchivePageHeader.astro';
import ArchiveLayout from '@/components/Layout/ArchiveLayout.astro';
import { getGalleryCategories } from '@/data/gallery';
import GalleryCategoryGrid from '@/components/Gallery/GalleryCategoryGrid.astro';
const galleryCategories = await getGalleryCategories();

---




<BaseLayout>
  <section class="relative bg-black">
    <ArchiveLayout>
      <Breadcrumbs items={[{label: 'Gallery'}]}/>
      <ArchivePageHeader
        title="Frames &amp; moments"
      >
      </ArchivePageHeader>

      <GalleryCategoryGrid galleryCategories={galleryCategories}/>

    </ArchiveLayout>
  </section>
</BaseLayout>
