---

import SectionLayout from "@/components/Layout/SectionLayout.astro";
import SectionTitle from "@/components/UI/SectionTitle.astro";
import BackgroundSection from '@/components/Layout/BackgroundSection.astro';

import { type WorkForClient, worksPageConfig } from "@/data/works";
import SectionCtaLink from "@/components/UI/SectionCtaLink.astro";
import WorksCardSliderForTop from "@/components/Works/home/WorksCardSliderForTop.astro";
import AnimationScreenOverlay from "@/components/UI/AnimationScreenOverlay.astro";
import WorksHintForTop from "@/components/Works/home/WorksHintForTop.astro";

interface Props {
    works: WorkForClient[];
}

const { works } = Astro.props;
---


<BackgroundSection image={worksPageConfig.backgroundImage}  alt={worksPageConfig.backgroundAlt} data-works-top-root className="min-h-svh relative z-10">
    <AnimationScreenOverlay/>
    <SectionLayout>
        <div slot="sectionContent"
             class="z-20 flex flex-col justify-between my-auto min-[375px]:gap-4 gap-5">
            <SectionTitle title="WORKS" data-works-top-title>
            Step into my world through selected works.<br>
            —or an intimate collection of moments across genres.
            </SectionTitle>
            <WorksHintForTop data-works-top-hint />
            <WorksCardSliderForTop works={works}/>
        </div>
        <SectionCtaLink
        slot="sectionCta"
        href="/works"
        label="Works archive"
        data-works-cta
        />
    </SectionLayout>
</BackgroundSection>
