---
interface Props {
    extraClass?: string;
}

const { extraClass } = Astro.props as Props;
---

<div class=`relative min-h-screen text-[var(--color-white)] ${extraClass}`>
    <main class="max-w-[1680px] my-auto mx-auto px-5 xl:px-20 py-24 space-y-10">
        <slot/>
    </main>
</div>
