---
import {Picture} from 'astro:assets';

//restは以下で使用中
// ファイル	渡している属性
// src/components/Hero/Hero.astro	data-hero-root
// src/components/Works/home/WorksTopSection.astro	data-works-top-root
const { image, alt, className, ...rest } = Astro.props;
---




<section class={`${className ?? ''} relative`} {...rest}>
    <div class="absolute inset-0 -z-20">
        <Picture
        src={image}
        formats={['avif', 'webp']}
        quality="80"
        layout="full-width"
        fit="cover"
        position="center"
        alt={alt}
        class="w-full h-full object-cover"
      />
      </div>
        <slot />
</section>
