---
const { className, ...rest } = Astro.props
---


<div class="min-h-svh text-[var(--color-white)]" {...rest}>
    <div class={`mx-auto px-4 md:px-8 pb-15 pt-30 space-y-10 xl:px-20 ${className ?? "max-w-5xl"}`}>
        <slot/>
    </div>
</div>