---
import ArrowLeftIcon from "@/components/Icons/ArrowLeftIcon";
//|| "/" … もし正規化の結果が空文字 "" になったら（通常はホームで末尾 / だけのときなど）、"/" として扱う。
const pathname = Astro.url.pathname.replace(/\/$/,'') || '/';

const isHome = pathname === '/';

const isSlugDetailPage =
  /^\/works\/[^/]+$/.test(pathname) ||
  /^\/news\/[^/]+$/.test(pathname) ||
  /^\/gallery\/[^/]+$/.test(pathname);

const showBackToTop = !isSlugDetailPage;

---

<footer class:list={["-mt-20 relative z-[9999] bg-transparent pointer-events-none",
  isHome ? "text-black" : "text-white"
]}>
  <div
  class:list={[
    "mx-auto flex w-full max-w-[1680px] flex-row items-center px-5 py-4 xl:px-20 ",
    showBackToTop ? "justify-between" : "justify-center",
  ]}
  >

    <small class={showBackToTop ? "" : "text-center"}>© {new Date().getFullYear()} Okude Kosuke.</small>


    {
      showBackToTop && (
      <a
      href="#top"
      class:list={["pointer-events-auto hidden text-sm md:inline", isHome ? 'text-black hover:text-black/80' : 'text-white hover:text-white/80']}
    >
      Back to top
    </a>

    <a
      href="#top"
      class="pointer-events-auto flex h-10 w-10 items-center justify-center md:hidden"
      aria-label="ページの先頭へ戻る"
    >
      <ArrowLeftIcon className={`rotate-90 w-6 h-6 cursor-pointer ${isHome ? 'text-black hover:text-black/80' : 'text-white hover:text-white/80'}`}/>
    </a>
      )
    }
  </div>
</footer>