---
import MainNav from "@/components/Layout/MainNav.astro";
import HamburgerMenu from "@/components/Layout/HamburgerMenu.astro";

---

<header
  id="header"
  class="header fixed left-0 top-0 z-999999 w-full "
>
  <div
    class="mx-auto flex w-full max-w-[1680px] flex-row items-center justify-between px-5 py-4 xl:px-20"
  >
    <h1 class="text-base md:text-xl leading-tight">
      <a
        href="/"
        class="header__logo font-accent text-base md:text-xl font-bold leading-tight text-white opacity-100 transition-opacity duration-200 hover:opacity-50 tracking-[0.04em]"
      >
        KOSUKE OKUDE
      </a>
    </h1>

    <nav class="header__nav" aria-label="メインナビゲーション">
      <MainNav />
      <HamburgerMenu />
    </nav>
  </div>
</header>

