---
import type { navItem } from "@/data/nav"

interface Props {
  navItems: navItem[];
}

const { navItems } = Astro.props;
---



<nav class="hidden md:flex gap-6 " aria-label="メインナビゲーション">
    <ul class="flex gap-6 font-bold text-base">
      {navItems.map((item) => (
        <li><a class="text-white opacity-100 transition-opacity duration-200 hover:opacity-50" href={item.href}>{item.label}</a></li>
      ))}
    </ul>
</nav>