---
interface Props {
    title:string;
}

const {title} = Astro.props;
---


<div class="w-fit">
    <h2
    class="font-accent font-bold text-[32px] md:text-[48px] tracking-wider text-[var(--color-white)]"
  >
    {title}
  </h2>
  <p
    class="font-accent tracking-wide text-[var(--color-white)] md:text-[18px] hidden md:block"
  >
  <slot/>
  </p>
</div>