---
import { aboutFilmStripFrames } from '@/data/about';
import { Picture } from 'astro:assets';
---

<div class="overflow-hidden absolute w-full h-full">
  {aboutFilmStripFrames.map((frame, i) => (
    <div class="shrink-0 round-xs w-[180px] md:w-[450px] overflow-hidden [&_picture]:contents"
        data-about-images>
      <Picture
        src={frame.src}
        alt={frame.alt}
        formats={["avif", "webP"]}
        width={1200}
        height={1200}
        layout="constrained"
        fit="cover"
        position='center'
        class="h-full w-full object-cover block"
      />
    </div>
  ))}
</div>
