---
import BaseLayout from '@/layouts/BaseLayout.astro';
import ArchivePageHeader from '@/components/UI/ArchivePageHeader.astro';
import Breadcrumbs from '@/components/UI/Breadcrumbs.astro';

import { getAllNews } from '@/data/news';
import { NewsArchiveSection } from '@/components/News/NewsArchiveSection';
import ArchiveLayout from '@/components/Layout/ArchiveLayout.astro';

const newsItems = await getAllNews();
---




<BaseLayout>
  <ArchiveLayout>

    <Breadcrumbs items={[{label: 'News'}]}/>
    <ArchivePageHeader
    label="news"
    title="Selected news &amp; archives"
    >
    A quiet record of client news and personal projects.
    </ArchivePageHeader>

    <div data-reveal id="archive-main">
      <NewsArchiveSection newsItems={newsItems} client:load/>
    </div>
  </ArchiveLayout>
</BaseLayout>
