---
import BaseLayout from '@/layouts/BaseLayout.astro';
import ArchivePageHeader from '@/components/UI/ArchivePageHeader.astro';
import Breadcrumbs from '@/components/UI/Breadcrumbs.astro';
import BackgroundSection from '@/components/Layout/BackgroundSection.astro';
import { getAllNews, newsPageConfig } from '@/data/news';
import { NewsArchiveSection } from '@/components/News/NewsArchiveSection';
import ArchiveLayout from '@/components/Layout/ArchiveLayout.astro';
import ScreenOverlay from '@/components/UI/ScreenOverlay.astro';

const newsItems = await getAllNews();
---




<BaseLayout>
  <BackgroundSection image={newsPageConfig.backgroundImage} alt={newsPageConfig.backgroundAlt} fixedBackground eager>
    <ScreenOverlay/>
  <ArchiveLayout>

    <Breadcrumbs items={[{label: 'News'}]}/>
    <ArchivePageHeader
    label="news"
    title="news &amp; archives"
    >
      Recent works, exhibitions, and a few personal notes.
    </ArchivePageHeader>

    <div id="archive-main">
      <NewsArchiveSection newsItems={newsItems} client:load/>
    </div>
  </ArchiveLayout>
  </BackgroundSection>
</BaseLayout>
