---
import { ContactSocialLinks } from "@/components/Contact/ContactSocialLinks";

const { message, email } =  Astro.props;
---
<section id="contact" class="relative mt-24 pb-16 md:mt-32 md:pb-24">
    <h2
        class="font-accent text-lg font-bold tracking-wide md:text-xl lg:text-2xl"
    >
        Contact
    </h2>
    <p class="mt-6 max-w-2xl text-sm leading-relaxed text-white/80 md:text-base">
        {message}
    </p>

    <ContactSocialLinks className="text-white" email={email} client:load/>
    <slot/>
</section>

