---
const { message, email } =  Astro.props;
---
<section id="contact" class="relative mt-24 pb-16 md:mt-32 md:pb-24">
    <h2
        class="font-accent text-lg font-bold tracking-wide md:text-xl lg:text-2xl"
    >
        Contact
    </h2>
    <p class="mt-6 max-w-2xl text-sm leading-relaxed text-white/80 md:text-base">
        {message}
    </p>
    <p class="mt-3 text-sm font-medium text-white/90 md:text-base">
        <a
        href="mailto:hello@example.com"
        class="underline underline-offset-4 hover:text-white"
        >
        {email}
        </a>
    </p>
    <slot/>
</section>

