---
import galleryBackgroundImage from '@/assets/images/gallery-background-image.jpg';
import BackgroundSection from '@/components/Layout/BackgroundSection.astro';
import SectionLayout from '@/components/Layout/SectionLayout.astro';
import SectionTitle from '@/components/UI/SectionTitle.astro';
import SectionCtaLink from '@/components/UI/SectionCtaLink.astro';
---


<BackgroundSection image={galleryBackgroundImage} alt='' showOverlay={false}>
    <SectionLayout>
        <div class="z-20 flex-1 flex flex-col justify-between max-h-[900px] my-auto " slot="sectionContent">
        <!-- 縦の flex ＋ justify-between に変更 -->
            <!-- 上側：タイトル -->
            <SectionTitle title="GALLERY">
                Photographs and moments, collected over time.
            </SectionTitle>
        
        </div>
        <SectionCtaLink
        slot="sectionCta"
        href="/gallery"
        label="More photographs"
        />
    </SectionLayout>
</BackgroundSection>