---
import SectionLayout from '@/components/Layout/SectionLayout.astro';
import SectionTitle from '@/components/UI/SectionTitle.astro';
import SectionCtaLink from '@/components/UI/SectionCtaLink.astro';
import GalleryCategoryGrid from '@/components/Gallery/GalleryCategoryGrid.astro';
import { type GalleryCategory } from '@/data/gallery';
import AnimationScreenOverlay from '@/components/UI/AnimationScreenOverlay.astro';

interface Props {
    galleryCategories: GalleryCategory[];
}

const { galleryCategories } = Astro.props;
---


<section class="relative bg-black z-20 min-h-svh">
    <AnimationScreenOverlay/>

<SectionLayout addClass="z-20 min-h-svh relative">
    <div class="z-20 flex flex-col justify-between my-auto gap-10" slot="sectionContent">
        <SectionTitle title="GALLERY" data-reveal>
            Photographs and moments, collected over time.
        </SectionTitle>
        <GalleryCategoryGrid
            galleryCategories={ galleryCategories }
        />
    </div>
    <SectionCtaLink
        slot="sectionCta"
        href="/gallery"
        label="More photographs"
        data-reveal
    />
</SectionLayout>


</section>