---

import SectionLayout from "@/components/Layout/SectionLayout.astro";
import SectionTitle from "@/components/UI/SectionTitle.astro";
import { WorksCardSlider } from "@/components/Works/WorksCardSlider";
import BackgroundSection from '@/components/Layout/BackgroundSection.astro';

import { type WorkForClient, worksPageConfig } from "@/data/works";
import SectionCtaLink from "@/components/UI/SectionCtaLink.astro";
interface Props {
    works: WorkForClient[];
}

const { works } = Astro.props;
---


<BackgroundSection image={worksPageConfig.backgroundImage}  alt={worksPageConfig.backgroundAlt} showOverlay={true}
>
    <SectionLayout>
        <div slot="sectionContent"
             class="z-20 flex-1 flex flex-col justify-between max-h-[900px] my-auto gap-10">
        <!-- 縦の flex ＋ justify-between に変更 -->
            <!-- 上側：タイトル -->
            <SectionTitle title="WORKS">
            Step into my world through selected works.<br>
            —or an intimate collection of moments across genres.
            </SectionTitle>
            <!-- 下側：案内文＋スライダーをラッパーでひとまとめ -->
            <div>
            <!-- 上下スクロール案内 -->
            <p class="text-[var(--color-white)] text-sm mb-2">
                上下スクロールで作品が流れます
            </p>
            <!-- カードスライダー用ラッパー（横スクロール） -->
                <WorksCardSlider works={works} resetKey="" client:load/>
            </div>
        </div>
        <SectionCtaLink
        slot="sectionCta"
        href="/works"
        label="Works archive"
        />
    </SectionLayout>
</BackgroundSection>