---
import type { WorkForClient } from '@/data/works';
import WorksCard from '@/components/Works/WorksCard.tsx';

interface Props {
  works: WorkForClient[];
}

const {works} = Astro.props;



---

<div id="works_slider">
  <!-- カードスライダー用ラッパー（横スクロール） -->
  <div class="min-w-0 flex-1 overflow-x-auto">
    <div class="flex gap-5 md:gap-10 ">
      <!-- カード 1 枚 -->
       {works.map((work) => (
        <WorksCard work={work} client:load/>
       ))}
    </div>
  </div>
</div>
