---
import SectionLayout from '@/components/Layout/SectionLayout.astro';
import NewsListForTop from '@/components/News/NewsListForTop.astro';
import SectionCtaLink from '@/components/UI/SectionCtaLink.astro';
import SectionTitle from '@/components/UI/SectionTitle.astro';
import  { type NewsArchive, newsPageConfig  } from '@/data/news';
import BackgroundSection from '@/components/Layout/BackgroundSection.astro';
import ScreenOverlay from '@/components/UI/ScreenOverlay.astro';

interface Props {
  newsItems: NewsArchive[];
}
const { newsItems } = Astro.props;
---


<BackgroundSection image={newsPageConfig.backgroundImage} alt={newsPageConfig.backgroundAlt} className="min-h-svh">
  <ScreenOverlay/>
  <SectionLayout addClass="pb-30">
    <div slot="sectionContent" class="z-20 flex-1 flex flex-col gap-10 my-auto">
      <!-- タイトル -->
      <SectionTitle title="NEWS" data-reveal>
        Updates on upcoming shoots, exhibitions, and other latest news.
      </SectionTitle>

      <NewsListForTop
        newsItems={newsItems}
      />
    </div>
    <SectionCtaLink slot="sectionCta" href="/news" label="All news" data-reveal/>
  </SectionLayout>
</BackgroundSection>

