---
import SectionLayout from '@/components/Layout/SectionLayout.astro';
import NewsListForTop from '@/components/News/NewsListForTop.astro';
import SectionCtaLink from '@/components/UI/SectionCtaLink.astro';
import SectionTitle from '@/components/UI/SectionTitle.astro';
import type { NewsArchive } from '@/data/news';

interface Props {
  newsItems: NewsArchive[];
}
const { newsItems } = Astro.props;
---


  <SectionLayout addClass="pb-30">
    <div slot="sectionContent" class="z-20 flex-1 flex flex-col gap-10 my-auto">
      <!-- タイトル -->
      <SectionTitle title="NEWS">
        Updates on upcoming shoots, exhibitions, and other latest news.
      </SectionTitle>

      <NewsListForTop
        newsItems={newsItems}
      />
    </div>
    <SectionCtaLink slot="sectionCta" href="/news" label="All news" />
  </SectionLayout>
