---
interface ArchivePageHeaderProps {
    label: string;
    title: string;
}

const { title } = Astro.props as ArchivePageHeaderProps;
---

<header class="space-y-6 max-w-3xl" data-reveal-once>
    <div class="space-y-2">
      <h1 class="font-accent text-3xl md:text-4xl lg:text-[40px] font-bold">
        { title }
      </h1>
    </div>
</header>
