---
interface Props {
    label: string;
}

const { label } = Astro.props;

---


<div class="space-y-2" data-reveal>
    <h2 class="text-[12px] md:text-sm uppercase tracking-[0.25em] text-white/60">
      { label }
    </h2>
    <slot/>
</div>