---
const { class: className, pinOverlay = false, hideOnMobile = false, ...rest } = Astro.props;
---


<div class:list={[
  "pointer-events-none fixed inset-0 -z-10 bg-black/30 w-full h-full",
  hideOnMobile && "hide-on-mobile",
  className
]}
  data-screen-overlay
  {...rest}></div>


  <style>
    @media (hover: none) and (pointer: coarse) {
      .hide-on-mobile {
        opacity: 0;
      }
    }
  </style>