---
const { class: className, pinOverlay = false, ...rest } = Astro.props;
---


<div class:list={[
    "pointer-events-none fixed inset-0 -z-10 bg-black/50 w-full h-full opacity-0",
    className
]}
  data-screen-overlay
  {...rest}></div>