---
type ScrollLineOnlyVerticalOptions = {
    isHiddenText?: boolean;
    isMobile?: boolean;
}
const { isHiddenText = false, isMobile = true } = Astro.props as ScrollLineOnlyVerticalOptions


---
<!-- スクロール誘導ライン -->
<div class=`${isMobile ? 'bottom-3' : 'bottom-10'} scroll-indicator absolute  left-1/2 -translate-x-1/2 pointer-events-none flex flex-col items-center gap-2`>
    <span class="font-body text-[0.6rem] tracking-[0.4em] uppercase text-white [text-shadow:0_0_12px_rgba(255,255,255,0.4)]">{ isHiddenText ? '' : 'Scroll'}</span>
    <div class="scroll-line"></div>
</div>


<style>
    @media (hover: none) and (pointer: coarse) {
      .scroll-indicator {
        display: none;
      }
    }
  </style>