---
import type { YoutubeVideo } from "@/type/youtubeVideo";
import { getYouTubeEmbedUrl } from "@/utils/getYouTubeEmbedUrl";

const { videos } = Astro.props as { videos?: YoutubeVideo[] };
---




{videos && videos.length > 0 && (
    <section class="space-y-6 mb-10" aria-label="Videos">
      {videos.map((video, index) => {
        const embedUrl = getYouTubeEmbedUrl(video.youtubeUrl);
        return (
          <div class="w-full aspect-[16/9]">
            <iframe
              class="w-full h-full"
              src={embedUrl}
              title={`YouTube video ${index + 1}`}
              loading="lazy"
              referrerpolicy="strict-origin-when-cross-origin"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            />
          </div>
        );
      })}
    </section>
  )}